
body{
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}



.navbar-brand{
    font-weight: bold;
}

.nav-link{
    transition: 0.3s;
}

.nav-link:hover{
    color: #d4af37 !important;
}



.hero{
    background-color: #f8f9fa;
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.hero img{
    max-height: 500px;
    border-radius: 12px;
}



.btn-warning{
    background-color: #c8a24d;
    border: none;
    color: white;
    transition: 0.3s;
}

.btn-warning:hover{
    background-color: #a8842d;
    transform: translateY(-2px);
}



.card{
    border: none;
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-6px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.15);
}



.accordion-item{
    border: none;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 18px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.accordion-button{
    font-weight: bold;
    padding: 18px;
}

.accordion-button:not(.collapsed){
    background-color: #c8a24d;
    color: white;
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion-body{
    line-height: 1.7;
}



footer{
    background-color: #212529;
    color: white;
    padding: 30px 0;
}

footer h5{
    font-weight: bold;
}



.card img{
    transition: 0.4s;
}

.card:hover img{
    transform: scale(1.05);
}